@keyframes animatedBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  height: 100%;
  background-color: #f2f2f2; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text {
  text-decoration: none; }

.header {
  width: 100%;
  display: block; }

.header .header-links {
  display: inline-table;
  min-height: 25px;
  width: 100%;
  margin: auto;
  background-color: #2F2F2F;
  padding-top: 6px; }

.header .header-links .extra_layout {
  display: block;
  margin: auto; }

.header .header-links .extra_layout .extra_box {
  width: 100%;
  display: block;
  float: right;
  color: #FFFFFF; }

.header .header-links .extra_layout .extra_box .extra_item {
  text-align: left;
  color: #FFF;
  font-size: 8pt;
  vertical-align: middle;
  display: inline-block;
  font-weight: bold; }

.header .header-links .extra_layout .extra_box a.extra_item:hover {
  color: #25C6D0; }

.header .header-menu {
  color: #333333;
  display: inline-table;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  height: 41px;
  line-height: 22px;
  min-height: 41px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 4px; }

.header .header-menu .menu_layout {
  display: block;
  margin: auto; }

.header .header-menu .menu_layout .menu-box {
  width: 100%;
  display: block;
  float: left; }

.header .header-menu .menu_layout .menu-box .logo-box {
  display: block;
  float: left; }

.header .header-menu .menu_layout .menu-box .logo-box img {
  float: left;
  display: block;
  width: 168px;
  height: 41px; }

.header .header-menu .menu_layout .menu-box .sf-menu {
  float: right;
  display: block; }

.header .header-menu .menu_layout .menu-box .sf-menu ul {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
  float: right; }

.header .header-menu .menu_layout .menu-box .sf-menu ul li {
  border-bottom: 4px solid #fff;
  white-space: nowrap;
  padding: 0;
  float: left;
  display: block; }

.header .header-menu .menu_layout .menu-box .sf-menu ul li a {
  display: block;
  font-size: 12px;
  font-weight: 500;
  height: 37px;
  line-height: 37px;
  text-decoration: none;
  zoom: 1;
  position: relative;
  text-align: center;
  text-shadow: #FFF 0 1px 1px;
  color: #2F2F2F;
  white-space: nowrap;
  padding: 0px 10px;
  font-weight: bold; }

.header .header-menu .menu_layout .menu-box .sf-menu ul li.current-menu-item {
  border-bottom: 4px solid #25c6d0; }

.header .header-menu .menu_layout .menu-box .sf-menu ul li a.removezarmn {
  background: url(/css/images/remove_ads_button_mn.png) no-repeat;
  height: 37px;
  width: 105px; }

.header .header-menu .menu_layout .menu-box .sf-menu ul li a.removezaren {
  background: url(/css/images/remove_ads_button_en.png) no-repeat;
  height: 37px;
  width: 105px; }

.header .header-menu .menu_layout .menu-box .sf-menu ul li:hover > a {
  color: #25C6D0; }

.header .header-menu .menu_layout .menu-box .sf-menu ul li.current-menu-item > a {
  color: #25C6D0; }

.navbar-toggler {
  display: none;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  padding: 0;
  float: right;
  height: 41px;
  line-height: 41px;
  width: 41px;
  font-size: 12px;
  font-weight: bold;
  text-align: center; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header .header-menu .menu_layout .menu-box .sf-menu {
    display: flex !important;
    flex-basis: auto; }
    .header .header-menu .menu_layout .menu-box .sf-menu:not(.in) {
      height: 0px; }
  .header .header-menu .menu_layout .menu-box .sf-menu ul li {
    display: inline-block;
    width: 100%; }
  .navbar-toggler {
    display: block; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
